<%= turbo_frame_tag 'new-accommodation' do %>
  <%= link_to 'Create', new_accommodation_path %>
<% end %>

<%= turbo_stream_from :list %>

<%#= turbo_frame_tag :form_response do %>
  <div id="accommodation-list">
    <%= render partial: 'accommodations', locals: { accommodations: @accommodations } %>
  </div>
<%# end %>

<%= render partial: 'shared/pagination_bar', locals: { pagy: @pagy } %>
