<div id="next-accommodation-link">
  <div class="pagy-bootstrap-nav">
    <ul class="pagination">
      <li class="page-item previous <%= pagy.page.eql?(1) ? 'disabled' : nil %>">
        <%= link_to pagy_url_for(pagy, pagy.prev), class: 'page-link', data: { turbo_method: :post } do %>
          ‹&nbsp;Prev
        <% end %>
      </li>
      <% (1..pagy.pages).each do |page| %>
        <li class="page-item <%= page.eql?(pagy.page) ? 'active' : nil %>">
          <%= link_to page, pagy_url_for(pagy, page), class: 'page-link', data: { turbo_method: :post } %>
        </li>
      <% end %>
      <li class="page-item next <%= pagy.page.eql?(pagy.last) ? 'disabled' : nil %>">
        <%= link_to pagy_url_for(pagy, pagy.next), class: 'page-link', data: { turbo_frame: :form_response } do %>
          Next&nbsp;›
        <% end %>
      </li>
    </ul>
  </div>
</div>
